# don't leak confidential information!
*.sqlite
*.secret

# python bytecode
**/__pycache__/
*.pyc

# macos jeffery
.DS_Store

# log outputs
*.log

# for tailwind and prettier
node_modules/

# scratch work
scratch/

# build files
build/
