# don't leak confidential information!
*.sqlite
*.secret

# don't clog rep during migration
_legacy

# python bytecode
**/__pycache__
*.pyc

# macos jeffery
.DS_Store

# log outputs
*.log

# for tailwind
node_modules
