[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
peewee = "*"
flask = "*"
scikit-learn = "*"
numpy = "*"
face-recognition = "*"
scipy = "*"
jmespath = "*"
playwright = "*"
frozen-flask = "*"

[dev-packages]
pylint = "*"
black = "*"
ipykernel = "*"
pandas = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "pipenv run python -m oleorcarl dev"
tailwind = """npx tailwindcss
        -i oleorcarl/static/styles/source.css 
        -o oleorcarl/static/styles/build.css"""
build = "pipenv run python -m oleorcarl build"
test = "pipenv run python -m oleorcarl test"
deploy = "git subtree push --prefix build origin gh-pages"
