[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
peewee = "*"
flask = "*"
tqdm = "*"
scikit-learn = "*"
numpy = "*"
pillow = "*"
ipykernel = "*"
selenium = "*"

[dev-packages]
pylint = "*"
face-recognition = "*"
black = "*"

[requires]
python_version = "3.10"
