<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block main %}

<div class="px-5 lg:pt-20">
  <header class="scale-[.8] md:scale-100">
    <h1
      class="flex flex-col items-center justify-center lg:flex-row lg:gap-10"
      style="font-size: 12rem"
    >
      <span
        class="-mb-10 -rotate-6 font-['Calluna'] tracking-tighter text-stolaf-primary"
      >
        OLE
      </span>
      <span class="text-5xl">or</span>
      <span class="rotate-6"
        ><img
          src="{{ url_for('static', filename='images/carl.svg') }}"
          style="height: 0.8em"
          alt="Carl"
      /></span>
    </h1>
  </header>

  <main class="mt-10 flex flex-col items-center gap-10">
    <h2 class="max-w-xl text-center text-xl tracking-wider" id="blurb">
      <strong><em>The</em></strong> definitive source for determining if that
      one blonde girl in your 8:30 Spanish really looks like she goes to the
      other (worse) Northfield college.
    </h2>

    <div class="relative w-full max-w-lg gap-6">
      <label class="text-xs text-gray-400" for="name">Name</label> <br />
      <input
        class="w-full rounded-lg border-2 border-green bg-gray-100 p-1"
        id="searchbar"
        type="text"
        name="name"
        placeholder="Start typing to see results"
      />

      <ul
        class="absolute top-16 hidden max-h-52 w-full space-y-2 divide-y-2 overflow-y-scroll rounded-md bg-gray-50 p-3 shadow-md"
        id="suggestions"
      >
        <template>
          <li>
            <a class="-space-y-1">
              <p></p>
              <small class="text-gray-500"></small>
            </a>
          </li>
        </template>
      </ul>
    </div>
  </main>
</div>

{# search suggestions script #}
<script>
  const searchbar = document.querySelector("#searchbar")
  const suggestions = document.querySelector("#suggestions")
  const template = document.querySelector("#suggestions template")

  // is this a security leak?? no...
  const students = {{ students | tojson }}

  searchbar.oninput = (event) => {
    suggestions.classList.remove("hidden")

    const prefix = event.target.value.toLowerCase()

    const matching_students = students.filter((student) =>
      student.name.toLowerCase().startsWith(prefix)
      || student.email.startsWith(prefix)
    ).slice(0, 20)

    suggestions.replaceChildren(...matching_students.map((student) => {
      const li = template.content.cloneNode(deep=true)

      li.querySelector("p").innerText = student.name
      li.querySelector("small").innerText = student.email
      li.querySelector("a").href = student.url

      return li
    }))

    if (!matching_students.length)
      suggestions.innerText = "No matching students."
  }
</script>

{% endblock main %}
